<div class="container">
   <nz-checkbox-group
      class="preferences"
      [(ngModel)]="preferences"
      (ngModelChange)="log(preferences)"
   ></nz-checkbox-group>

   <div class="next-timer">Next spawn at {{nextSpawnTime.dateObj | date:'hh:mm'}}</div>

   <div class="map-container">
      <img id="the-map" src="assets/img/map.jpg" alt="map">

      <ng-container *ngIf="!preferences[3].checked">
         <div class="marker-group" *ngFor="let mob of rares"
              [style]="'left: ' + mob.coords[0] + '%; top: ' + mob.coords[1] + '%'"
         >
            <ng-container *ngIf="!preferences[0].checked || (mob.name === currentRare.name)">
               <img
                  class="marker"
                  [src]="mob.name === currentRare.name ? 'assets/img/marker-current.png' : 'assets/img/marker.png'"
                  alt="marker"
               >

               <div class="marker-name" *ngIf="preferences[1].checked">{{mob.name}}</div>
               <div class="marker-coord" *ngIf="preferences[2].checked">{{mob.coords[0]}}, {{mob.coords[1]}}</div>
            </ng-container>
         </div>
      </ng-container>
   </div>

   <div class="info">
      <div>20 Bosses spawn in a strict order (as in the list below) every 20 minutes (01, 21 and 41 minute of each hour).</div>
      <nz-collapse>
         <nz-collapse-panel nzHeader="List of bosses">
            <div *ngFor="let mob of rares">{{mob.name}}</div>
         </nz-collapse-panel>
      </nz-collapse>
   </div>

   <div class="contact"><a href="mailto:o.v.rabota@gmail.com?subject=ICECROWN FEEDBACK">Shoot me a message</a> if you see something to fix or improve</div>
</div>

